html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;

  /* font-family: sans-serif; */
  /* font-size: 16px; */
  color: #000000;
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}

/* h2,
h3,
h4 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
} */

#app {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav ul li {
  /* margin-left: 1rem; */
}

/** custom styles to override ant **/

button.green {
  background-color: green;
  border-color: green;
}

button.green:hover {
  background-color: #00ff00;
}

button.red {
  background-color: #be013c;
  border-color: #be013c;
}

button.red:hover {
  background-color: #ff073a;
}


/** markdown overrides **/
pre {
  text-align: left;
}
